#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  height: 95vh;
  width: 95vw;
}
body {
  margin: 0;
  background-color: rgb(219, 219, 219);
}

#canvas {
  height: 90%;
  aspect-ratio: 1/1;
  background-color: rgb(255, 255, 255);
  object-fit:contain;
}
